*{
    font-family: 'Roboto';
}

html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(red, yellow);
}

h1{
    font-size: 144px;
    font-weight: 300;
    color: lightblue;
}